[submodule "pyactiveresource"]
	path = pyactiveresource
	url = git@github.com:varesa/pyactiveresource.git
[submodule "shopify_python_api"]
	path = shopify_python_api
	url = git@github.com:varesa/shopify_python_api.git
